<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO_7tH6bhMhNFrFP3amfKY5fZDxicNXtk</string>
	<key>GCM_SENDER_ID</key>
	<string>522023163171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.antamMonitoring</string>
	<key>PROJECT_ID</key>
	<string>antam-monitoring</string>
	<key>STORAGE_BUCKET</key>
	<string>antam-monitoring.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522023163171:ios:2b6a0a95e93506a5e52896</string>
</dict>
</plist>